<div id="rateBooks" style="display: block;">

  <div class="showBooks">
    <p class="bookNum">Book № {{this.index + 1}}</p>
    <div class="bookInfo">
      <label for="title">Title: </label>
      <input id="title" [(ngModel)]="modelTitle" type="text" placeholder="Title" value="{{bookCollection[this.index].title}}">
      <label for="summary">Summary: </label>
      <textarea id="summary" [(ngModel)]="modelSummary" type="textarea" placeholder="Summary" rows="10" value="{{bookCollection[this.index].summary}}">
        {{bookCollection[this.index].summary}}
      </textarea>
      <label for="author">Author: </label>
      <input id="author" [(ngModel)]="modelAuthor" type="text" placeholder="Author" value="{{bookCollection[this.index].author}}">
      <label>Rating: </label>
      <label>{{bookCollection[this.index].rating}}</label>
    </div>
    <div class="rating">
      <button class="rate-btn" (click)="rating(1)">1</button>
      <button class="rate-btn" (click)="rating(2)">2</button>
      <button class="rate-btn" (click)="rating(3)">3</button>
      <button class="rate-btn" (click)="rating(4)">4</button>
      <button class="rate-btn" (click)="rating(5)">5</button>
    </div>
  </div>

</div>

<div id="rateOver" class="rating-over-actions" style="display: none;">

  <p class="centered">You rated the all books Successfully!</p>
  <p class="centered">Would you like to rate them again?</p>
  
  <hr>

  <div class="rating-over-btns">

    <button class="over-btn" (click)="rateAgain()">Yes</button>
    <button class="over-btn" (click)="displayBook()">No</button>

  </div>
  

</div>

<div id="book" class="ratedBooks" style="display: none;">

  <h2>Books</h2>

  @for (book of bookCollection; track book) {

    
    <div class="book">

      <p>Title: {{book.title}}</p>
      <hr>
      <p>Summary: {{book.summary}}</p>
      <p>Author: {{book.author}}</p>
      <hr>
      <p>Rating: {{book.rating}}</p>

    </div>

  }

</div>